
.editable-select-box {
	border: transparent 1px solid;
	padding: 1px;
	position: relative;
	display: inline-flex;
	width: 100%;
}

.editable-select-box > .select {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
}

.editable-select-box > .select > select {
	width: 100% !important;
	z-index: 10;
	border: none;
	outline: none;
}

.editable-select-box > .editable-select-holder {
	z-index: 9;
	position: relative;
	width: 18px;
}

.editable-select-box > .input {
	display: inline-flex;
	flex-grow: 1;
	position: relative;
	z-index: 11;
}

.editable-select-box > .input > input {
	border: none;
	outline: none;
}