.package-editor {
	padding: 12px 24px;
	height: 100%;
	box-sizing: border-box;
}

.package-editor > .header {
	display: flex;
	flex-direction: row;
}

.package-editor > .header > .icon {
	height: 64px;
	width: 64px;
	margin-right: 15px;
}

.package-editor > .header > .icon.no {
	font-size: 64px;
}

.package-editor > .header > .details {
	flex: 1;
}

.package-editor > .header > .details > .title {
	font-size: 34px;
	line-height: 1.4em;
}

.package-editor > .actions {
	margin-top: 10px;
}

.package-editor > .actions > .monaco-action-bar {
	text-align: initial;
}

.package-editor > .actions > .monaco-action-bar > .actions-container {
	justify-content: flex-start;
}

.package-editor > .actions > .monaco-action-bar > .actions-container > .action-item > .action-label {
	font-weight: 600;
	margin: 4px;
	padding: 1px 6px;
}

.package-editor > .content {
	padding: 0;
	margin: 0;
	background-color: white;
}
