.monaco-workbench .panel.serial-monitor-panel {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding: 4px;
	
	> .left-panel {
		margin-right: 4px;
		display: flex;
		flex-direction: column;
		> .devices-list-container {
			overflow: hidden;
			.monaco-list-row {
				line-height: 24px;
				vertical-align: middle;
				
				&.open {
					font-weight: bold;
				}
			}
		}
	}
	> .right-panel {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		> .head {
			> .tool-button-bar {
				display: flex;
				flex-direction: row;
				margin-bottom: 2px;
				line-height: 22.4px;
				> .monaco-button {
					margin-right: 4px;
					width: auto;
					padding: 0 0.3em;
				}
				> .spacer {
					flex-grow: 1;
				}
			}
			> .options-bar {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				margin-bottom: 2px;
				> span {
					flex-basis: 0;
					flex-shrink: 1;
					white-space: nowrap;
					line-height: 22.4px;
				}
				> div { // for select
					max-width: 6em;
					margin: 0 4px 0 2px;
				}
				&.hide {
					display: none;
				}
			}
		}
		
		> .repl {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			
			textarea.xterm-helper-textarea {
				position: absolute !important;
				opacity: 0 !important;
			}
			
			> .integrated-terminal {
				> .terminal-outer-container > .terminal-wrapper {
					flex-grow: 1;
				}
			}
			> .repl-input-wrapper {
				position: relative;
				> .repl-placeholder {
					position: absolute;
					z-index: 0;
				}
				> .monaco-editor {
					position: relative;
					z-index: 1;
				}
				> .monaco-editor,
				.monaco-editor-background {
					background: transparent !important;
				}
			}
		}
	}
}
