<div class="jumbotron">
	<h1 class="display-4">Kendryte IDE</h1>
	<p class="lead en">
		Self extractor has exact same content with zip file.<br/>
		To extract: just run the self extractor, or right click on it and choose "Extract to".<br/>
		Mac notice: this app is NOT signed now, do not place it in /Applications dir.<br/>
	</p>
	<p class="lead cn">
		自解压包和zip文件内容完全相同。<br/>
		要解压缩，直接双击exe或bin文件即可，解压路径为当前目录。<br/>
		Mac注意事项：目前Kendryete IDE并没有签名，不要把它解压到 /Applications 里。<br/>
		Windows注意事项：部分杀毒软件把所有自解压包都认定是病毒，点击允许启动即可。如果不放心，可以右键解压缩，或者使用zip包。<br/>
	</p>
	<div id="fastDown" class="d-hide">
		<hr class="my-4">
		<p></p>
		<a class="btn btn-primary btn-lg main" href="#" role="button">
			<span class="en">Download Kendryte IDE @&nbsp;</span>
			<span class="cn">下载 Kendryte IDE @&nbsp;</span>
		</a>
		<a class="btn btn-link pkg btn-sm text-mute" href="#" role="button">
			<span class="en" title="Extract, and copy 'data' dir into KendryteIDE">Download Offline Dependency Packages</span>
			<span class="cn" title="解压缩，并将data文件夹覆盖到KendryteIDE中">下载离线依赖包</span>
		</a>
	</div>
</div>