.maix-config-editor {
	white-space: nowrap;
	padding: 0 27px;
	margin: auto;
}

.maix-config-editor .settings-editor {
	padding: 0;
	max-width: unset;
	margin: 0 5px;
}

.maix-config-editor .split-view-view {
	position: relative;
}

.maix-config-editor .settings-group-title-label {
	margin: 15px 0 5px 0;
	font-size: 18px;
	font-weight: bold;
}

.maix-config-editor .setting-item[data-type=array] .setting-item-right {
	flex: 1;
}

.editable-select-box {
	border: transparent 1px solid;
	position: relative;
	display: inline-flex;
	width: 100%;
}

.editable-select-box > .select {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
}

.editable-select-box > .editable-select-holder {
	z-index: 9;
	position: relative;
	width: 18px;
}

.editable-select-box > .select > select {
	z-index: 10;
	border: none;
	outline: none;
}

.editable-select-box > .input {
	display: inline-flex;
	flex-grow: 1;
	position: relative;
	z-index: 11;
}

.editable-select-box > .input > input {
	border: none;
	outline: none;
}

/*
.maix-config-editor .setting-item[data-type=enum] .setting-item-right .setting-item-value {
	position: relative;
	outline: transparent 1px solid;
}

.maix-config-editor .setting-item[data-type=enum] .setting-item-right select {
	border: none;
	outline: none;
}

.maix-config-editor .setting-item[data-type=enum] .setting-item-right .setting-item-value > .monaco-inputbox {
	position: absolute;
	right: 34px;
}

.maix-config-editor .setting-item[data-type=enum] .setting-item-right .setting-item-value > .monaco-inputbox input {
}
*/

div.fileSelect {
	display: flex;
	width: 100%;
	margin-left: -11px;
}

div.fileSelect > .text {
	flex: 1
}