.kendryte-package-json-editor > .monaco-scrollable-element {
	height: 100%;
	
	> .wrap {
		height: 100%;
		padding: 12px 0;
		
		max-width: 800px;
		margin: auto;
		
		overflow-x: visible;
		overflow-y: scroll;
		box-sizing: border-box;
		
		> hr {
			margin-bottom: 12px;
		}
		
		> .section {
			display: flex;
			margin-bottom: 1em;
			
			> .left {
				width: 30%;
				max-width: 250px;
				
				> h3 {
					margin-top: 0;
				}
			}
			
			> .right {
				position: relative;
				flex: 1;
				
				textarea.input {
					width: 100%;
				}
				
				> .control {
					display: flex;
					flex-direction: row;
					
					> * {
						flex: 0;
						white-space: nowrap;
						margin-right: 0.3em;
						
						.icon {
							margin-right: 2px;
						}
					}
				}
			}
		}
		
		> code.json {
			margin-top: 15px;
			white-space: pre;
			width: 100%;
			opacity: 0.88;
		}
	}
}
