.kendryte-json-editor.flashManagerEditor > .subContainer {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 510px; }
  .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar {
    overflow: hidden; }
    .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .error {
      margin-bottom: 5px;
      font-size: large; }
    .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .buttonBar {
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      white-space: nowrap; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .buttonBar .monaco-button {
        padding: 4px 12px;
        margin-right: 0.7em;
        display: block; }
        .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .buttonBar .monaco-button > span {
          margin-right: 4px; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .buttonBar > .createButton {
        position: relative;
        overflow: hidden;
        z-index: 1000; }
        .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .buttonBar > .createButton > .alter {
          position: absolute;
          top: 100%; }
        .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .buttonBar > .createButton:hover {
          overflow: visible; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .titlebar > .buttonBar > .spacer {
        flex: 1; }
  .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer {
    flex: 1;
    overflow: hidden; }
    .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section {
      display: block;
      position: relative;
      overflow: hidden;
      line-height: 1em;
      padding: 12px 10px; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section label {
        display: inline-block;
        margin-right: 1.2em; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > * {
        margin-bottom: 8px; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > .l1 {
        position: relative; }
        .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > .l1 > .ctl {
          position: absolute;
          right: 0;
          top: 0;
          display: flex; }
          .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > .l1 > .ctl > .move {
            margin-left: 0.6em; }
          .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > .l1 > .ctl > .remove {
            margin-left: 1.1em; }
          .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > .l1 > .ctl > * {
            padding: 6px; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > .l3 > .file {
        display: block; }
      .kendryte-json-editor.flashManagerEditor > .subContainer > .listContainer .flash-section > .l3 .octicon {
        line-height: unset; }

/*# sourceMappingURL=style.css.map */
