.kendryte-json-editor.flashManagerEditor {
	> .subContainer {
		overflow: hidden;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		min-width: 510px;
		
		> .titlebar {
			overflow: hidden;
			
			
			> .error {
				margin-bottom: 5px;
				font-size: large;
			}
			
			> .buttonBar {
				margin-bottom: 5px;
				display: flex;
				flex-direction: row;
				white-space: nowrap;
				
				.monaco-button {
					padding: 4px 12px;
					margin-right: 0.7em;
					display: block;
					
					> span {
						margin-right: 4px;
					}
				}
				
				> .createButton {
					position: relative;
					overflow: hidden;
					z-index: 1000;
					
					> .alter {
						position: absolute;
						top: 100%;
					}
					
					&:hover {
						overflow: visible;
					}
				}
				
				
				> .spacer {
					flex: 1;
				}
			}
		}
		
		> .listContainer {
			flex: 1;
			overflow: hidden;
			
			.flash-section {
				display: block;
				position: relative;
				overflow: hidden;
				line-height: 1em;
				padding: 12px 10px;
				
				label {
					display: inline-block;
					margin-right: 1.2em;
				}
				
				> * {
					margin-bottom: 8px;
				}
				
				> .l1 {
					position: relative;
					
					> .ctl {
						position: absolute;
						right: 0;
						top: 0;
						display: flex;
						
						> .move {
							margin-left: 0.6em;
						}
						
						> .remove {
							margin-left: 1.1em;
						}
						
						> * {
							padding: 6px;
						}
					}
					
					> .swap {
					}
				}
				
				> .l2 {
				}
				
				> .l3 {
					> .file {
						display: block;
					}
					
					.octicon {
						line-height: unset;
					}
				}
			}
		}
	}
}
