.monaco-workbench .panel .actions-container > .action-item > .action-label.icon.left {
  background-image: url("left.svg"); }
  .vs-dark .monaco-workbench .panel .actions-container > .action-item > .action-label.icon.left {
    background-image: url("left-inverse.svg"); }
.monaco-workbench .panel .actions-container > .action-item > .action-label.icon.right {
  background-image: url("right.svg"); }
  .vs-dark .monaco-workbench .panel .actions-container > .action-item > .action-label.icon.right {
    background-image: url("right-inverse.svg"); }

.monaco-workbench .panel.serial-monitor-panel {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 4px; }
  .monaco-workbench .panel.serial-monitor-panel.left_show > .left-panel {
    display: flex; }
  .monaco-workbench .panel.serial-monitor-panel > .left-panel {
    display: none;
    flex-direction: column; }
    .monaco-workbench .panel.serial-monitor-panel > .left-panel > .devices-list-container {
      overflow: hidden; }
      .monaco-workbench .panel.serial-monitor-panel > .left-panel > .devices-list-container .monaco-list-row {
        line-height: 24px;
        vertical-align: middle; }
        .monaco-workbench .panel.serial-monitor-panel > .left-panel > .devices-list-container .monaco-list-row.open {
          font-weight: bold; }
  .monaco-workbench .panel.serial-monitor-panel > .center-panel {
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .monaco-workbench .panel.serial-monitor-panel > .center-panel > .head > .tool-button-bar {
      display: flex;
      flex-direction: row;
      margin-bottom: 2px;
      line-height: 22.4px; }
      .monaco-workbench .panel.serial-monitor-panel > .center-panel > .head > .tool-button-bar > .monaco-button {
        margin-right: 4px;
        width: auto;
        padding: 0 0.3em; }
      .monaco-workbench .panel.serial-monitor-panel > .center-panel > .head > .tool-button-bar > .spacer {
        flex-grow: 1; }
    .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative; }
      .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl textarea.xterm-helper-textarea {
        position: absolute !important;
        opacity: 0 !important; }
      .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl > .xterm-wrapper {
        flex: 1; }
        .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl > .xterm-wrapper > .terminal-wrapper {
          display: block;
          position: absolute;
          bottom: 1px;
          /* required for size calc */
          top: 0;
          overflow-y: hidden; }
      .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl > .repl-input-wrapper {
        position: relative; }
        .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl > .repl-input-wrapper > .repl-placeholder {
          position: absolute;
          z-index: 0; }
        .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl > .repl-input-wrapper > .monaco-editor {
          position: relative;
          z-index: 1; }
        .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl > .repl-input-wrapper > .monaco-editor,
        .monaco-workbench .panel.serial-monitor-panel > .center-panel > .repl > .repl-input-wrapper .monaco-editor-background {
          background: transparent !important; }
  .monaco-workbench .panel.serial-monitor-panel.right_show > .right-panel {
    display: flex; }
  .monaco-workbench .panel.serial-monitor-panel .right-panel {
    overflow-x: visible;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 14px; }
    .monaco-workbench .panel.serial-monitor-panel .right-panel .options-bar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 2px; }
      .monaco-workbench .panel.serial-monitor-panel .right-panel .options-bar > span {
        flex-basis: 0;
        flex-shrink: 1;
        white-space: nowrap;
        line-height: 22.4px; }
        .monaco-workbench .panel.serial-monitor-panel .right-panel .options-bar > span.title-text {
          margin-right: 5px;
          font-size: 14px;
          font-weight: bold; }
      .monaco-workbench .panel.serial-monitor-panel .right-panel .options-bar > div {
        max-width: 6em;
        margin: 0 4px 0 2px; }
  .monaco-workbench .panel.serial-monitor-panel > .monaco-scrollable-element {
    display: block;
    min-width: 13em;
    max-width: 13em; }
    .monaco-workbench .panel.serial-monitor-panel > .monaco-scrollable-element.hide {
      display: none; }

/*# sourceMappingURL=panel.css.map */
